@charset "UTF-8";

body {
    counter-reset: n-2155-1 9200;
    font-family: "Times New Roman";
}

p {
    -ms-defaultTabStop: 18pt;
    line-height: 1;
    margin-bottom: 0pt;
    margin-top: 0pt;
}

p:empty {
    height: 1em;
}

a {
    text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 0pt;
    empty-cells: hide;
}

td {
    padding-bottom: 0pt;
    padding-left: 5.75pt;
    padding-right: 5.75pt;
    padding-top: 0pt;
    vertical-align: top;
}

.t-TableGrid {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 0;
}

.t-TableNormal {
    margin-left: 0pt;
}

.tc-TableGrid--bb {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tc-TableGrid--bl {
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
}

.tc-TableGrid--br {
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
}

.tc-TableGrid--bt {
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 1px;
}

.tc-TableGrid {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}

.tc-TableNormal {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}

.tp-TableGrid {
    font-size: 11pt;
}

.p-BodyText {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-family: "Courier New";
    font-size: 8pt;
    text-decoration: underline;
}

.p-CommentText {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-size: 11pt;
}

.p-Default {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    color: #000000;
    font-family: Arial;
    font-size: 12pt;
}

.p-Header {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: center;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab17-pos: 432pt;
    -ms-tab17: right;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-size: 11pt;
}

.p-Heading1 {
    -ms-outlineLvl: 0;
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: clear;
    -ms-tab2-pos: 54pt;
    -ms-tab2: clear;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}

.p-Heading2 {
    -ms-outlineLvl: 1;
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: clear;
    -ms-tab2-pos: 54pt;
    -ms-tab2: clear;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}

.p-Heading3 {
    -ms-outlineLvl: 2;
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-size: 11pt;
    font-weight: bold;
}

.p-HtmlNormal {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-size: 12pt;
    margin-bottom: 5pt;
    margin-top: 5pt;
}

.p-Indent1 {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
}

.p-Indent2 {
    -ms-tab0-pos: 18pt;
    -ms-tab0: clear;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: clear;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
}

.p-Indent3 {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
}

.p-Indent4 {
    -ms-tab0-pos: 18pt;
    -ms-tab0: clear;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: clear;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
}

.p-Indent5 {
    -ms-tab0-pos: 18pt;
    -ms-tab0: clear;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: clear;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
}

.p-Indent6 {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-size: 11pt;
    text-indent: 108pt;
}

.p-Indent7 {
    -ms-tab0-pos: 18pt;
    -ms-tab0: clear;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: clear;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-size: 11pt;
    text-indent: 126pt;
}

.p-ListParagraph {
    -ms-contextualSpacing: true;
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-size: 12pt;
    margin-left: 36pt;
}

.p-Normal {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-size: 11pt;
}

.p-NormalObject {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    font-family: Calibri;
    font-size: 11pt;
}

.p-PlainText {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: left;
    -ms-tab11-pos: 216pt;
    -ms-tab11: left;
    -ms-tab12-pos: 234pt;
    -ms-tab12: left;
    -ms-tab13-pos: 252pt;
    -ms-tab13: left;
    -ms-tab14-pos: 270pt;
    -ms-tab14: left;
    -ms-tab15-pos: 288pt;
    -ms-tab15: left;
    -ms-tab16-pos: 306pt;
    -ms-tab16: left;
    -ms-tab1: left;
    -ms-tab2-pos: 54pt;
    -ms-tab2: left;
    -ms-tab3-pos: 72pt;
    -ms-tab3: left;
    -ms-tab4-pos: 90pt;
    -ms-tab4: left;
    -ms-tab5-pos: 108pt;
    -ms-tab5: left;
    -ms-tab6-pos: 126pt;
    -ms-tab6: left;
    -ms-tab7-pos: 144pt;
    -ms-tab7: left;
    -ms-tab8-pos: 162pt;
    -ms-tab8: left;
    -ms-tab9-pos: 180pt;
    -ms-tab9: left;
    font-family: "Courier New";
    font-size: 11pt;
}

.p-TableParagraph {
    -ms-tab0-pos: 18pt;
    -ms-tab0: left;
    -ms-tab1-pos: 36pt;
    -ms-tab10-pos: 198pt;
    -ms-tab10: clear;
    -ms-tab11-pos: 216pt;
    -ms-tab11: clear;
    -ms-tab12-pos: 234pt;
    -ms-tab12: clear;
    -ms-tab13-pos: 252pt;
    -ms-tab13: clear;
    -ms-tab14-pos: 270pt;
    -ms-tab14: clear;
    -ms-tab15-pos: 288pt;
    -ms-tab15: clear;
    -ms-tab16-pos: 306pt;
    -ms-tab16: clear;
    -ms-tab1: clear;
    -ms-tab2-pos: 54pt;
    -ms-tab2: clear;
    -ms-tab3-pos: 72pt;
    -ms-tab3: clear;
    -ms-tab4-pos: 90pt;
    -ms-tab4: clear;
    -ms-tab5-pos: 108pt;
    -ms-tab5: clear;
    -ms-tab6-pos: 126pt;
    -ms-tab6: clear;
    -ms-tab7-pos: 144pt;
    -ms-tab7: clear;
    -ms-tab8-pos: 162pt;
    -ms-tab8: clear;
    -ms-tab9-pos: 180pt;
    -ms-tab9: clear;
    font-family: Calibri;
    font-size: 11pt;
    orphans: 1;
    widows: 1;
}

.pn-2155-1 {
    margin-left: 35.4pt;
    text-indent: -35.4pt;
}

.n-2155-1 {
    -ms-lvlJc: left;
    -ms-lvlText: "%1.%2";
    -ms-numFmt: decimal;
    -ms-start: 9201;
}

.n-2155-1:before {
    content: "%1." counter(n-2155-1);
    counter-increment: n-2155-1;
    float: left;
    font-family: Calibri;
    font-weight: bold;
    width: 35.4pt;
}

.n-2155-1:after {
    clear: both;
    content: "";
    display: block;
}

.c-CommentReference {
    font-size: 8pt;
}

.c-Emphasis {
    font-style: italic;
}

.c-Heading2Char {
    font-size: 11pt;
    font-weight: bold;
}

.c-Hyperlink {
    color: #0000FF;
    text-decoration: underline;
}
